*.pyc
.coverage
*.sqlite3

bin/
include/
lib/

media/

__pycache__/

env/
venv/
.vscode/

models.py

**/migrations/*
apps/bim/migrations/
apps/bim/migrations/*
!apps/bim/migrations/__init__.py
apps/bim/migrations/0001_initial.py